---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1>the contact page</h1>

  <i
    class="fa-solid fa-address-book fa-flip-horizontal fa-2xl"
    style="color: #63E6BE;"></i>

    <button class="button">CLICK HERE</button>
</MainLayout>
