---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
	<h1>the index page</h1>

	<i class="fa-solid fa-house fa-5x"></i>


	<button class="button">CLICK HERE</button>
</MainLayout>